body {
    font-family: "Lato",sans-serif;
    font-size: 18px;
}

.sidenavmenu a {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    display: block;
    width: 160px;
}

.sidenavmenu {
    height: 100%;
    position: fixed;
    background-color: #67bbf8;
    padding-top: 30px;
    top: 15px;
    left: 10px;
    width: 226px;
}

@media screen and (max-height: 450px) {
    .sidenavmenu {
        padding-top: 15px;
    }

        .sidenavmenu a {
            font-size: 18px;
        }
}

.table {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    width: 552px;
    top: 65px;
    left: 249px;
    height: 156px;
    padding-bottom: 8px;
}

.bt2 {
    position: relative;
    left: 417px;
    top: 3px;
}

.bt1 {
    position: relative;
    left: 773px;
    top: 2px;
}

.bt3 {
    position: relative;
    left: 400px;
    top: 2px;
}

.field {
    padding-bottom: 10px;
}
